/* **********************************
		CSS for viewlog.php
************************************* */

.box1{
/* font-family:"Courier New", Courier, monospace; */
font-family: Arial;
font-size:12pt;
color:#069;
background:#fff;
min-width:900px;
}

table.tbl{
border-collapse: collapse;
border:1px solid #ccc;
}

table.tbl td, table.tbl tr.a td{
border:1px solid #ccc;
padding:0 10px 0 10px;
background:#def;
white-space:nowrap;
}

table.tbl td.cnt{
text-align:center;
}

table.tbl td.u{
text-align:right;
}

table.tbl tr.a td{
background:#eff;
}

a.res, a.blk, a.unblk, p.blk, p.ublk{
display:inline-block;
margin-top:3px;
width:16px;
height:16px;
}

a.res{ background-image:url("../img/search-icon-color2.png"); }

a.blk{
background-image:url("../img/checkbox-color1.gif");
background-position:15px 0px;
}
a.unblk{ background-image:url("../img/checkbox-color1.gif"); }

p.blk, p.ublk{
background-image:url("../img/circle-red1.png");
color:#fff;
font-weight:bold;
font-size:13px;
font-family:"Courier New", Courier, monospace;
margin-bottom:0px;
text-align:center;
line-height:16px;
vertical-align:middle;
}

p.ublk{ background-image:url("../img/circle-green1.png"); }


table.tnav{
border-collapse: collapse;
margin:20px 0 20px 0px;
border:1px dotted #ccc;
}

table.tnav td{
background:#eef;
padding:5px;
}

table.tnav td.l{
text-align:right;
}

table.tnav td.v{
}

table.tnav td.v select, table.tnav td.v input{
width:100%;
color:#069;
}

table.tnav td.s{
padding:0 10px 0 10px;
}


/* **********************************
		CSS for modlist.php
************************************* */

table.t1{
border-collapse: collapse;
border:1px solid #ccc;
color:#069;
width:400px;
font-family: Arial;
font-size:12pt;

}

table.t1 td{
border:1px solid #ccc;
padding:0;
background:#def;
padding: 5px 10px 5px 5px;
}

table.t1 td textarea{
width:100%;
min-width:100%;
min-height:100px;
background:#eff;
}


/************************************
		CSS for index.php
*************************************/

table.t2{
border-collapse: collapse;
border:1px solid #ccc;
/* margin-top:20px; */
}

table.t2 > tbody > tr > td{
border:1px solid #ccc;
padding:2px 10px 2px 10px;
background:#def;
white-space:nowrap;

}

table.t2 > tbody > tr > td.lb{
text-align:right;
}

table.t2 > tbody > tr > td.vl,
table.t2 > tbody > tr > td.vlr{
text-align:left;
}

table.t2 > tbody > tr > td.vlr{
text-align:right;
}

td.stattbl{
padding:0px 20px 20px 0px;
vertical-align:bottom;
}



/************************************
		CSS for index.php
*************************************/
.TopNav01 {
	display:block;
}
.TopNav01 > ul{
	margin:10px 0px 10px 0px;
	padding:0px;
	display:inline-block;
	border:1px solid #ccc;
	background:#def;
	list-style-type:none;
}

.TopNav01 > ul > li{
	display:inline-block;
}


.TopNav01 > ul > li > p {
	margin:0px;
	padding:0px;
	padding:5px 10px 5px 10px;
}

.TopNav01 > ul > li > a:link,
.TopNav01 > ul > li > a:visited,
.TopNav01 > ul > li > a:hover,
.TopNav01 > ul > li > a:active{
	text-decoration:none;
	display:block;
	padding:5px 10px 5px 10px;
	color:#00f;
	border-left:1px solid #ccc;
}

.TopNav01 > ul > li >  a:hover{
	background:#eff;
}

.TopNav01 > ul > li > a.sel:link,
.TopNav01 > ul > li > a.sel:visited,
.TopNav01 > ul > li > a.sel:hover,
.TopNav01 > ul > li > a.sel:active{
	color:#069;
	background:#eff;
}






ul.ctrl1,
ul.ctrl1 > ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

ul.ctrl1{
	margin:40px 0px 40px 0px;
}


ul.ctrl1 > li{
	border:1px solid #ccc;
	background:#def;
	display:block;
	width: 300px;
	margin-top:10px;
}


/*

ul.ctrl1, ul.ctrl1 li{
margin: 0px;
padding:0px;
}

ul.ctrl1{
margin-top:20px;
}

ul.ctrl1 li a:link, ul.ctrl1 li a:visited, ul.ctrl1 li a:hover, ul.ctrl1 li a:active{
display:block;
width: 300px;
border:1px solid #ccc;
margin: 0px 0 10px 0;
padding: 5px 10px 5px 10px;
background:#def;
text-decoration:none;
text-align:center;
color:#00f;
}

ul.ctrl1 li a:hover{
border-top:1px solid #ccf;
border-left:1px solid #ccf;
border-bottom:1px solid #99c;
border-right:1px solid #99c;
background:#eef;
}

*/
